*{
    font-family:sans-serif;
    margin-left: 30px;
}
h1{
    color: blueviolet;
    font-size: 48pt;
}
table{
    width: 600px;
    border-spacing: 10px;
    font-family:sans-serif;
    margin:0;
    padding:0;
    margin-left: 30px;
}
tr{
    margin-right:20px;
}
td{
    vertical-align: top;
}
.small{
    font-size:11px;
}
ol{
    margin-left: -10px;
}